<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magestat" translate="label" sortOrder="900">
            <label>Magestat</label>
        </tab>
        <section id="magestat_facebook_pixel" showInDefault="1">
            <tab>magestat</tab>
            <label>Facebook Pixel</label>
            <resource>Magestat_FacebookPixel::config</resource>
            <group id="module" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Enable Module</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="options" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label">
                <label>Pixel ID</label>
                <field id="pixel_id" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pixel ID Code</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="settings" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label">
                <label>Settings</label>
                <field id="inc_tax" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Include tax</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Include tax for product prices</comment>
                </field>
            </group>
            <group id="track" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label">
                <label>Track Options</label>
                <field id="product" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Track events under the Product Page</comment>
                </field>
                <field id="checkout" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Track events under the Checkout Page</comment>
                </field>
                <field id="success" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Success</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Track events under the Success Page</comment>
                </field>
            </group>
        </section>
    </system>
</config>